@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-hubot: "Hubot Sans", sans-serif;
  --font-unbounded: "Unbounded", sans-serif;
  --font-stack-sans: "Stack Sans Headline", sans-serif;
}
